.App {
  text-align: center;
  margin:20px;
  display: flex;
}


.card-content{
  width : 200px;
  border: 1px solid black;
  margin :10px;
  font-size: 15px;
  
}
button{
  margin : 5px;
  padding: 5px;
  background-color: black;
  color: white;
}